name: Build and Release

on:
  push:
    tags:
      - 'Release'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade "pyinstaller"
        pip install -r requirements.txt
    
    - name: Build executable (Windows)
      run: |
        pyinstaller --onefile --name CGE7-193-Recorder main.py
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: CGE7-193-Recorder-Windows
        path: dist/CGE7-193-Recorder.exe
    - name: Tag the repository
          id: tag
          run: |
            # See https://docs.github.com/en/get-started/using-git/dealing-with-special-characters-in-branch-and-tag-names
            TAG=v$(date -Iseconds | sed 's/[T:\+]/-/g')
            echo "$TAG"
            echo "tag=$TAG" >> $GITHUB_OUTPUT
            git tag -a $TAG -m "Published version $TAG" ${GITHUB_SHA}
            git push origin $TAG
    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        files: dist/CGE7-193-Recorder.exe
        tag_name: ${{ steps.tag.outputs.tag }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
